body {
    margin: 1rem;
}

.btn-border {
    background-color: white;
    border-color: black;
    margin: 1em;
}

.BLX {
    height: 24px;
    width: 24px;
    margin-bottom: 1em;
    padding: 0;
    background-color: white;
    border: 2px solid black;
}

.BLY {
    height: 24px;
    width: 24px;
    margin-left: 1em;
    padding: 0;
    background-color: white;
    border: 2px solid black;
}

.B1 {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    background-color: white;
    border: 2px solid black;
}
.B2 {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    background-color: black;
    border: 2px solid white;
}

.flex {
    display: flex;
    align-items: center;
    width: max-content;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}